.account-container {
    max-width: fit-content;
    margin: 50px auto;
    padding: 20px;
    background-color: #161a1d;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: all;
    animation: accountAni 0.7s ease 1;
    color: #fff;
  }
  
  @keyframes accountAni {
    0% {
      transform: scaleY(-10%);
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .account-heading {
    font-size: 1.8rem;
    margin-bottom: 22px;
    text-align: center;
  }
  
  .account-detail{
    margin-top: 18px;
  }

  .detail-label {
    font-weight: bold;
    color: #8ecae6; 
}
  
  .delete-account-btn {
    background-color: rgb(197, 50, 50);
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    margin-top: 18px;
  }
  
  .delete-account-btn:hover {
    background-color: red;
  }
  