.examContainer{
    color: white;
    width: auto;
}

.exam_module{
    height: max-content;
    background-color :rgba(44, 45, 46, 0.545);
    margin-left: 4.4%;
    margin-right: 8.4%;
    margin-top: 25px;
    border-radius: 5px;
    box-shadow: 1px 1px 2.5px rgb(179, 171, 171) ,-1px 1px 2.5px rgb(179, 171, 171) ,1px -1px 2.5px rgb(179, 171, 171) ,-1px -1px 2.5px rgb(179, 171, 171);
}

.que{
    font-size: 17px;
    padding-top: 5px;
    padding-bottom: 4px;
}

.que:first-child{
    margin-left: 0.8%;
}

.options > label{
    color: #fbfaff;
}

.options > input[type = "radio"]{
    width: auto;
    margin-left: 34px;
    margin-right: 20px;
    margin-top: 10px;
}
